<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lithnet.ResourceManagement.Client" version="1.0.5991.15041" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="SwaggerWcf" version="0.1.8" targetFramework="net45" />
</packages>