<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--<system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="basicAuthBinding">
          <security mode="None" xdt:Transform="SetAttributes">
            <transport clientCredentialType="None" xdt:Transform="SetAttributes"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>-->

  <lithnetResourceManagementClient resourceManagementServiceBaseAddress="http://fimsvc-sync:5725"  xdt:Transform="SetAttributes"/>

</configuration>